h1 {
    display: none;
}

@media screen and (max-width: 576px) {
    .Mobile {
        display: block;
    }

    body {
        background-color: red;
    }
}

@media screen and (min-width: 576px) and (max-width: 720px) {
    .Tablet {
        display: block;
    }

    body {
        background-color: rgb(155, 13, 238);
    }


}

@media screen and (min-width: 720px) and (max-width: 992px) {
    .Laptop {
        display: block;
    }

    body {
        background-color: rgb(8, 23, 230);
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .Desktop {
        display: block;
    }

    body {
        background-color: rgb(7, 183, 253);
    }
}

@media screen and (min-width: 1200px) and (max-width: 3000px) {
    .Huge {
        display: block;
    }

    body {
        background-color: rgb(108, 11, 235);
    }
}